/***********************************************/
@import '../sass_files/helpers/variables';
@import '../sass_files/helpers/headings';
@import '../sass_files/layout/header';
@import '../sass_files/helpers/buttons';
@import '../sass_files/layout/grid';
@import '../sass_files/layout/global';
@import '../sass_files/layout/footer';
/***********************************************/

.about {
    .about-background {
        background-image: url('/images/bg-header-about.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;
    }
    .about-content {
        overflow: hidden;
        .about-community {
            float: $left;
            width: 25%;
            background-color: #EFEDEE;
            text-align: $center;
            padding: 30px 10px;
            @media (max-width: 992px) {
                float: none;
                width: 100%;
                margin-bottom: 50px;
            }
            h4 {
                font: {
                    family: $latoFont;
                }
                line-height: 1.8;
                margin-bottom: 40px;
            }
            li {
                line-height: 3.5;
                color: $brwonColor;
            }
        }
        .about-article {
            float: $left;
            width: 75%;
            padding-left: 40px;
            @media (max-width: 992px) {
                float: none;
                width: 100%;
                padding-left: 0;
            }
            h4 {
                margin-bottom: 40px;
            }
            .free-template, .more-template {
                margin-bottom: 30px;
            }
        }
    }
}