/***********************************************/
@import '../sass_files/helpers/variables';
@import '../sass_files/helpers/headings';
@import '../sass_files/layout/header';
@import '../sass_files/helpers/buttons';
@import '../sass_files/layout/grid';
@import '../sass_files/layout/global';
@import '../sass_files/layout/footer';
/***********************************************/

.about {
    .about-background {
        background-image: url('/images/bg-header-about.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;
    }
    .about-content {
        overflow: hidden;
        .about-community {
            float: $left;
            width: 30%;
        }
        .about-article {
            float: $left;
            width: 70%;
        }
    }
}