/* All Fonts */
$latoFont: 'Lato', sans-serif;
$magraFont: 'Magra', sans-serif;

// Directions
$left: left;
$right: right;
$center: center;

// Main Colors
$pinkColor: #cb3362;
$greenColor: #c8c10d;
$brwonColor: #7a6666;
// Buttons Colors
$borderColor: #d3c2c7;
$btnColor: #a5838e;

// Backgrounds Sections Colors
$backgroundColor: #EFEDEE;

// Media Size 
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$minMedum: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

